mainmenu "Nautilus Kernel Configuration"


config DEBUG_INFO
    bool "Compile with debug symbols"
    default n
    help
      Compiles Nautilus with GCC debugging information

config DEBUG_PRINTS
	bool "Enable debugging prints"
	default n
	help
	  Compiles the Nautilus kernel with debugging prints


config MAX_CPUS
	int "Maximum number of cpus"
	range 1 255
	default "16"
	help 
	  Specifies the maximum number of hardware CPUs supported by Nautilus 
	  For uniprocessor environments, set this to 1

menu Debugging
    config DEBUG_PAGING
      bool "Debug paging"
      depends on DEBUG_PRINTS
      default n
      help
        Turn on debug prints for paging subsystem

    config DEBUG_APIC
      bool "Debug APIC"
      depends on DEBUG_PRINTS
      default n
      help
        Turn on debug prints for the LAPIC driver

    config DEBUG_SMP
      bool "Debug SMP"
      depends on DEBUG_PRINTS
      default n
      help
        Turn on debug prints for SMP code
    
endmenu

#source "src/Kconfig"

