menu "Networking"

config NET_ETHERNET
	bool "Low-level Ethernet Support"
	default n
	help
		Adds low-level Ethernet support

config DEBUG_NET_ETHERNET_PACKET
	bool "Debug packets"
	default n
	depends on DEBUG_PRINTS && NET_ETHERNET
        help
                Turn on debug prints for packet pools

config DEBUG_NET_ETHERNET_AGENT
	bool "Debug agents"
	default n
	depends on DEBUG_PRINTS && NET_ETHERNET
        help
                Turn on debug prints for Ethernet agents

config DEBUG_NET_ETHERNET_ARP
	bool "Debug ARP"
	default n
	depends on DEBUG_PRINTS && NET_ETHERNET
        help
                Turn on debug prints for ARP
		
config NET_COLLECTIVE
	bool "Collective communication"
	default n
	help
		Adds collective communication support

config NET_COLLECTIVE_ETHERNET
	bool "Collective communication for low-level Ethernet"
	default n
	depends on NET_COLLECTIVE && NET_ETHERNET
	help
		Adds collective communication support for Ethernet	

config DEBUG_NET_COLLECTIVE_ETHERNET
	bool "Debug collective communication on low-level Ethernet"
	default n
	depends on NET_COLLECTIVE_ETHERNET
        help
                Turn on debug prints for low-level collective communication on Ethernet

config NET_LWIP
	bool "LWIP network stack"
	default n
	depends on NET_ETHERNET
	help
		Adds LWIP network protocol stack


config DEBUG_NET_LWIP
	bool "Debug LWIP"
	default n
	depends on NET_LWIP
	help
		Turn on debug output from LWIP

menu "LWIP Apps"
depends on NET_LWIP

config NET_LWIP_APP_ECHO
	bool "ECHO Daemon"
	default n
	depends on NET_LWIP
	help
		Adds TCP ECHO Server (port 7)
		
config NET_LWIP_APP_HTTPD
	bool "HTTP Daemon"
	default n
	depends on NET_LWIP
	help
		Adds an HTTP dameon (port 80)
		
config NET_LWIP_APP_LWIP_SHELL
	bool "LWIP Shell Daemon"
	default n
	depends on NET_LWIP
	help
		Adds the LWIP shell (partially functional on port 23)
		
config NET_LWIP_APP_SOCKET_ECHO
	bool "Echo Daemon (socket version)"
	default n
	depends on NET_LWIP
	help
		Adds TCP ECHO server (port 7) written using socket interface

config NET_LWIP_APP_SOCKET_EXAMPLES
	bool "Socket Examples"
	default n
	depends on NET_LWIP
	help
		Adds some additional socket examples

config NET_LWIP_APP_LWIP_IPVCD
	bool "Virtual Console Daemon"
	default n
	depends on NET_LWIP
	help
		Adds the ability to telnet to a virtual console in NK
endmenu


	

endmenu
